:root {
  --standard-border-radius: 0.5rem;
  --bg: #ffffff;
  --text: #444;
  --accent: #a10032;
  --accent-text: var(--bg);
  --link: #2a6c8a;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
}

html {
  font-family: var(--mono-font);
}

body {
  margin: 4rem auto;
  max-width: 50rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
  color: var(--text);
  background-color: var(--bg);
  padding: 0 1rem;
}

/** Default styles **/

ul {
  list-style-type: none;
}

img,
video {
  height: auto;
  border-radius: var(--standard-border-radius);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

hr {
  border: 1px dashed var(--accent);
  margin: 0.5rem 0;
}

.accent-data {
  color: var(--accent);
}

/** Headers **/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h2,
h3 {
  padding-top: 1.2rem;
}

h1::before {
  color: var(--accent);
  content: "# ";
}

h2::before {
  color: var(--accent);
  content: "## ";
}

h3::before {
  color: var(--accent);
  content: "### ";
}

h4::before {
  color: var(--accent);
  content: "#### ";
}

h5::before {
  color: var(--accent);
  content: "##### ";
}

h6::before {
  color: var(--accent);
  content: "###### ";
}

/** Links **/
a,
a:visited {
  text-decoration: none;
  border-radius: 0.125rem;
  color: var(--link);
}
a:hover {
  background-color: var(--link);
  color: var(--bg);
}

/** Nav **/

nav > ul {
  padding-left: 0;
}
nav > ul > li {
  display: inline-block;
}

nav {
  text-align: right;
  padding-bottom: 5rem;
}

/** Content list **/

.list .date {
  font-style: italic;
}

.list ul {
  padding-left: 0;
}

.list ul li {
  padding-bottom: 3rem;
  padding-left: 0.3rem;
}

.list ul li > a {
  font-size: 1.2rem;
  font-weight: 700;
}

.list ul li .post-info {
  padding-top: 1rem;
}

.list ul li::marker {
  content: "» ";
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--accent);
}

.list ul li:hover::marker {
  content: "# ";
  font-weight: 700;
  color: var(--link);
}

.list .next {
  text-align: right;
}
.list .next > a::after {
  content: " >>>";
}

/** Article **/

article ul li::marker {
  color: var(--accent);
}

article ul li {
  list-style-type: "» ";
}

article ul li {
  padding-left: 0.4rem;
}

article img {
  width: 100%;
}

/** Code **/

div code,
li code,
p code {
  padding: 0 0.125rem;
  border-radius: var(--standard-border-radius);
  color: var(--bg);
  background-color: var(--text);
}
code,
kbd,
pre,
pre span,
samp {
  font-family: var(--mono-font);
}

pre {
  padding: 0.625rem;
  font-style: monospace;
  white-space: pre-wrap;
  font-size: 1rem;

  border-radius: var(--standard-border-radius);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

/** Footer **/

footer {
  padding-top: 2rem;
}

footer > hr {
  margin-bottom: 1.7rem;
}
