{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}" />
{% endblock title %}

{% block content %}
{% if tag_name %}
<h1 style="padding-bottom: 2rem;">{{tag_name}}</h1>
{% endif %}
<div class="list">
  <ul>
    {% for post in posts %}
    <li>
      <a href="/{{ post.url_path }}">{{ post.front_matter.title }}</a>

      <div class="post-info">
        <time datetime="{{ post.date_rfc3339|date(format="%Y-%m-%d") }}">{% if "en" in categories %}Published on{% else %}Publié le{% endif %} <span class="accent-data">{{ post.date_rfc3339|date(format="%d-%m-%Y") }}</span></time>
        <address rel="author">{% if "en" in categories %}by{% else %}par{% endif %} <span class="accent-data">Vincent Jousse</span></address>
      </div>
      {% if post.excerpt %}
      <div class="post-excerpt">{{ post.excerpt|markdown }}</div>
      {% endif %}
      <div class="next"> 
        <a href="/{{ post.url_path }}" class="outline">{% if "en" in categories %}Next{% else %}Lire la suite{% endif %}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
