{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}" />
{% endblock title %}

{% block content %}
<div class="list">
  <ul>
    {% for post in posts %}
    <li>
      <a href="/{{ post.url_path }}"><h2>{{ post.front_matter.title }}</h2></a>

      {% if post.excerpt %}
      <p>{{ post.excerpt|markdown }}</p>
      {% endif %}
      <div style="text-align: center">
        <a href="/{{ post.url_path }}" class="outline">Lire la suite</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
