{% extends "base.html" %}
{% block ogurl %}{{ post_url_path }}{% endblock ogurl %}

{% block title %}
  <title>{{ title }}</title>
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}" />

  {% if post.excerpt %}
  <meta name="description" content="{{ post.excerpt|markdown }}" />
  <meta name="twitter:description" content="{{ post.excerpt|markdown }}">
  <meta property="og:description" content="{{ post.excerpt|markdown }}" />
  {% endif %}

{% endblock title %}

{% block content %}
<article>
  <header>
      <time datetime="{{ date|date(format="%Y-%m-%d") }}">Published on: <span class="accent-data">{{ date|date(format="%d-%m-%Y") }}</span></time>
    <address rel="author">By <span class="accent-data">Vincent Jousse</span></address>
    <h1>{{ title }}</h1>
  </header>
  {{ post_content }}
</article>
{% endblock content %}
