{% extends "base.html" %}
{% block ogurl %}{{ url_path }}{% endblock ogurl %}

{% block title %}
  <title>{{ title }}</title>
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}" />

  {% if post.excerpt %}
  <meta name="description" content="{{ post.excerpt|markdown }}" />
  <meta name="twitter:description" content="{{ post.excerpt|markdown }}">
  <meta property="og:description" content="{{ post.excerpt|markdown }}" />
  {% endif %}

{% endblock title %}

{% block content %}
<article>
  <header>
    <time datetime="{{ created_at|date(format="%Y-%m-%d") }}">{% if "en" in categories %}Published on{% else %}Publié le{% endif %} <span class="accent-data">{{ created_at|date(format="%d-%m-%Y") }}</span></time>
    <address rel="author">{% if "en" in categories %}by{% else %}par{% endif %} <span class="accent-data">Vincent Jousse</span></address>
    {% if updated_at %}
    <time datetime="{{ updated_at|date(format="%Y-%m-%d") }}" style="display: block;"><em>{% if "en" in categories %}Last updated on{% else %}Dernière mise à jour le{% endif %} <span class="accent-data">{{ updated_at|date(format="%d-%m-%Y") }}</span></em></time>
    {% endif %}
    {% if tags_urls %}

    <div>
      Tags <ul id="tags">

      {% for tag_url in tags_urls | reverse %}
         <li><a href="/{{ tag_url.1 }}">{{tag_url.0}}</a></li>
      {% endfor %}

      </ul>
    </div>
    {%endif%}
    <div class="markdown-heading">
      <h1 id="title">{{ title }}</h1>
      <a href="#title" class="anchor"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a>
    </div>
  </header>
  {% if toc %}

    <div class="markdown-heading">
      <h2 id="toc-title">{% if "en" in categories %}Table of contents{% else %}Table des matières{% endif %}</h2>
      <a href="#toc-title" class="anchor"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a>
    </div
    <div id="toc">
    {{ toc }}
    </div>
    <hr />
  {% endif %}
  {{ post_content }}
</article>
{% endblock content %}
