{% extends "base.html" %}
{% block ogurl %}{{ url_path }}{% endblock ogurl %}

{% block title %}
  <title>{{ title }}</title>
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}" />

  {% if post.excerpt %}
  <meta name="description" content="{{ post.excerpt|markdown }}" />
  <meta name="twitter:description" content="{{ post.excerpt|markdown }}">
  <meta property="og:description" content="{{ post.excerpt|markdown }}" />
  {% endif %}

{% endblock title %}

{% block content %}
<article>
  <header>
    <time datetime="{{ created_at|date(format="%Y-%m-%d") }}">{% if "en" in categories %}Published on{% else %}Publié le{% endif %} <span class="accent-data">{{ created_at|date(format="%d-%m-%Y") }}</span></time>
    <address rel="author">{% if "en" in categories %}by{% else %}par{% endif %} <span class="accent-data">Vincent Jousse</span></address>
    {% if updated_at %}
    <time datetime="{{ updated_at|date(format="%Y-%m-%d") }}" style="display: block;"><em>{% if "en" in categories %}Last updated on{% else %}Dernière mise à jour le{% endif %} <span class="accent-data">{{ updated_at|date(format="%d-%m-%Y") }}</span></em></time>
    {% endif %}
    {% if tags_urls %}

    <div>
      Tags <ul id="tags">

      {% for tag_url in tags_urls | reverse %}
         <li><a href="/{{ tag_url.1 }}">{{tag_url.0}}</a></li>
      {% endfor %}

      </ul>
    </div>
    {%endif%}
    <h1>{{ title }}</h1>
  </header>
  {{ post_content }}
</article>
{% endblock content %}
