<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/emmett.css" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vjousse" />
    <meta name="twitter:creator" content="@vjousse" />
    <meta property="og:type" content="article" />
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% endif %}
    <meta
      property="og:url"
      content="https://vincent.jousse.org/{% block ogurl %}{% endblock ogurl %}"
    />

    <script defer src="/js/emmett.js"></script>
    <link
      rel="alternate"
      type="application/atom+xml"
      title="RSS Feed for vincent.jousse.org"
      href="/atom.xml"
    />

    <meta property="og:site_name" content="Vincent Jousse" />
    <meta property="og:image" content="https://vincent.jousse.org/logo.png" />

    <link href="https://mamot.fr/@vjousse" rel="me" />

    {% block title %}
    <title>Accueil</title>
    <meta name="twitter:title" content="Accueil" />
    <meta property="og:title" content="Accueil" />
    {% endblock title %}

    <script
      src="https://s.pereprogramming.com/js/pl.js"
      defer="true"
      data-domain="vincent.jousse.org"
      data-turbolinks-track="reload"
    ></script>
  </head>

  <body>
    <main>
      <nav>
        <ul>
          <li>
            <a title="Retour à l'accueil" href="/" class="svg-icon{% if url_path == '/' %} active{% endif %}">{% if "en" in categories %}Home{% else %}Accueil{% endif%}</a>
          </li>
          <li>
            <a title="Contenu en français" href="/blog/fr"{% if "fr" in categories %}class="active"{% endif %}
              >Français</a
            >
          </li>
          <li>
            <a title="English content" href="/blog/en"{% if "en" in categories %}class="active"{% endif %}>English</a>
          </li>

          {% if "en" not in categories %}
          <li>
            <a title="RSS feed, atom format" href="/atom.xml">RSS</a>
          </li>
          {% endif %}
        </ul>
        {% if "fr" in categories %}
        <ul>
          <li>
            <a title="Tout le contenu en français" href="/blog/fr/"{% if "fr" in categories and categories|length == 1 %}class="active"{% endif %}
              >Tout</a
            >
          </li>
          <li>
            <a title="Contenu tech en français" href="/blog/fr/tech"{% if "fr" in categories and "tech" in categories %}class="active"{% endif %}
              >Tech</a
            >
          </li>

          <li>
            <a title="Réflexions personnelles en français" href="/blog/fr/perso"{% if "fr" in categories and "perso" in categories %}class="active"{% endif %}
              >Réflexions</a
            >
          </li>
        </ul>
        {% endif %}
      </nav>
      {% block content %} {% endblock content %}
    </main>
    <footer>
      {% if ("fr" in categories or url_path == "/") and "tech" not in categories %}
      <hr />

        <h4>Recevoir les nouveaux articles par mail</h4>


        <form method="post" action="https://newsletter.jousse.org/subscription/form" class="listmonk-form">


          <div id="newsletter">
            <p><input type="email" name="email" required placeholder="E-mail" /></p>
            <p><input type="submit" value="S'inscrire" /></p>
            <p><em>(votre adresse ne sera jamais partagée à des tiers)</em></p>

          </div>
          <p style="display: none;">
            <input id="786f8" type="checkbox" name="l" checked value="786f8dc1-f889-4c7f-a550-a70a2502c8af" />
            <label for="786f8">Vince et ses cogitations</label><br /><span>La newsletter de mon blog https://vincent.jousse.org</span>
          </p>

          <input type="hidden" name="nonce" />
        </form>
      {% endif %}

      <hr />
      <div>

        {% if "en" in categories %}
        🧾 Content licensed under the
        <a
          rel="noopener noreferrer"
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          >CC-By Licence</a
        >.<br />
        🔧 Built with
        <a
          rel="noopener noreferrer"
          href="https://www.rust-lang.org/"
          target="_blank"
          >Rust</a
        >, source code available on
        <a
          rel="noopener noreferrer"
          href="https://github.com/vjousse/emmett"
          target="_blank"
          >Github</a
        >.<br />
        📙 Be sure to check
        <a
          rel="noopener noreferrer"
          href="https://vimebook.com/"
          target="_blank"
          >my book about Vim</a
        >.
        {% else %}
        🧾 Contenu fourni sous license
        <a
          rel="noopener noreferrer"
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          >CC-By Licence</a
        >.<br />
        🔧 Construit avec
        <a
          rel="noopener noreferrer"
          href="https://www.rust-lang.org/"
          target="_blank"
          >Rust</a
        >, code source disponible sur
        <a
          rel="noopener noreferrer"
          href="https://github.com/vjousse/emmett"
          target="_blank"
          >Github</a
        >.<br />
        📙 Mettez-vous à Vim avec
        <a
          rel="noopener noreferrer"
          href="https://vimebook.com/"
          target="_blank"
          >mon livre à prix libre</a
        >.

        {% endif %}
      </div>
    </footer>
  </body>
</html>
