<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/emmett.css" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vjousse" />
    <meta name="twitter:creator" content="@vjousse" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://vincent.jousse.org/{% block ogurl %}{% endblock ogurl %}"
    />

    <link
      rel="alternate"
      type="application/atom+xml"
      title="RSS Feed for vincent.jousse.org"
      href="/atom.xml"
    />

    <meta property="og:site_name" content="Vincent Jousse" />
    <meta property="og:image" content="https://vincent.jousse.org/logo.png" />

    <link href="https://mamot.fr/@vjousse" rel="me" />

    {% block title %}
    <title>Accueil</title>
    <meta name="twitter:title" content="Accueil" />
    <meta property="og:title" content="Accueil" />
    {% endblock title %}

    <script
      src="https://s.pereprogramming.com/js/pl.js"
      defer="true"
      data-domain="vincent.jousse.org"
      data-turbolinks-track="reload"
    ></script>
  </head>

  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <a title="Retour à l'accueil" href="/" class="svg-icon">🏠</a>
          </li>
          <li>/</li>
          <li>
            <a title="Contenu en français" href="/blog/fr">Français</a>
          </li>
          <li>/</li>
          <li>
            <a title="English content" href="/blog/en">English</a>
          </li>
          <li>/</li>
          <li>
            <a title="RSS feed, atom format" href="/atom.xml">RSS</a>
          </li>
        </ul>
      </nav>
      {% block content %} {% endblock content %}
    </main>
    <footer>
      <hr />
      <div>
        🧾 Content licensed under the
        <a
          rel="noopener noreferrer"
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          >CC-By Licence</a
        >.<br />
        🔧 Built with
        <a
          rel="noopener noreferrer"
          href="https://www.rust-lang.org/"
          target="_blank"
          >Rust</a
        >, source code available on
        <a
          rel="noopener noreferrer"
          href="https://github.com/vjousse/emmett"
          target="_blank"
          >Github</a
        >.<br />
        📙 Be sure to check
        <a
          rel="noopener noreferrer"
          href="https://www.vimebook.com/"
          target="_blank"
          >my book about Vim</a
        >.
      </div>
    </footer>
  </body>
</html>
