<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vjousse" />
    <meta name="twitter:creator" content="@vjousse" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://vincent.jousse.org/{% block ogurl %}{% endblock ogurl %}"
    />

    <meta property="og:site_name" content="Vincent Jousse" />
    <meta property="og:image" content="https://vincent.jousse.org/logo.png" />

    <link href="https://mamot.fr/@vjousse" rel="me" />

    {% block title %}
    <title>Accueil</title>
    <meta name="twitter:title" content="Accueil" />
    <meta property="og:title" content="Accueil" />
    {% endblock title %}

    <script
      src="https://s.pereprogramming.com/js/pl.js"
      defer="true"
      data-domain="vincent.jousse.org"
      data-turbolinks-track="reload"
    ></script>
  </head>

  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <a class="contrast" title="Accueil" href="/">Accueil</a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="contrast" href="/blog/fr">Français</a>
          </li>
          <li>
            <a class="contrast" href="/blog/en">English</a>
          </li>
          <li>
            <a class="contrast" href="/atom.xml">RSS</a>
          </li>
        </ul>
      </nav>
      {% block content %} {% endblock content %}
    </main>
  </body>
</html>
